<html>
  <head>
    <title>Mall Video Surveillance</title>
  </head>
  <body>
  <h1>Mall Video Surveillance</h1>
    <div>
        <h2>Offline Mode</h2>
        <br>
        <form id="upload-file" method="post" enctype="multipart/form-data">
            <label for="imageUpload" class="upload-label">
                Select File:
            </label>
            <input type="file" name="file" id="imageUpload" accept=".mp4">
            <input type=submit value=Upload>
        </form>
        {% if filename1 and filename2 and filename3%}
            <p>Homographic View</p>
            <img src="{{ url_for('video_homo', filename1=filename1, filename2=filename2, filename3=filename3) }}">

            <p>Top View</p>
            <img src="{{ url_for('offline_top')}}">
        {% endif %}
    </div>
  </body>
</html>
